<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mis Proyectos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- OPCIÓN 1 -->
  <div class="card-opcion">
    <h2>CRUD EN PHP</h2>

    <div class="contenido">
      <p>
        Sistema CRUD desarrollado en PHP y MySQL que permite crear, leer,
        actualizar y eliminar registros de manera dinámica.
      </p>

      <img src="assets/img/crud.jpg" alt="Imagen CRUD">
    </div>
  </div>

  <!-- OPCIÓN 2 -->
  <div class="card-opcion">
    <h2>MY MOBILE PROJECTS</h2>

    <div class="contenido">
      <p>
        Proyectos móviles desarrollados con Ionic, App Inventor y Android Studio,
        enfocados en soluciones prácticas e innovadoras.
      </p>

      <img src="assets/img/mobile.jpg" alt="Imagen Mobile">
    </div>
  </div>

</ion-content>