<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ¿Quien Soy?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
  <ion-card-header>
    <ion-card-title>Darneli Ordoñez Ruiz</ion-card-title>
    <ion-card-subtitle>Desarrollador de Apps</ion-card-subtitle>
  </ion-card-header>
  <img alt="Este soy yo" src="/assets/MiFoto.jpeg" />

  <ion-card-content>
    Estudiante de Ing. Infomática del TecNM Campus Region Sieraa.
    8vo, Semestre
    Desarrollador de apps en:
    -App Inventor
    -Ionic Framework
    -Android Studio
  </ion-card-content>
</ion-card>
</ion-content>
